<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "ODTI", '#', class: "navbar-brand" %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="<%= is_active?(root_path) %>"><%= link_to "Home",    root_path %></li>
        <li class="<%= is_active?(help_path) %>"><%= link_to "Help",   help_path %></li>
      </ul>
    </div>
  </div>
</div>